body {
    background-color: #3a3b3c;
}

li {
    font-size: 18px;
    text-align: right;
    display: flex;
    margin: 10px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}

ol, ul {
    padding-left: 120px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.main {
    height: 650px;
    background-color: #111111;
    margin: 45px;
}
#profilepic {
    border-radius: 50%;
    margin-top: 100px;
}

.profile-name {
    font-family: 'Tourney', cursive;
    color: whitesmoke;
    position: relative;
    bottom: 405px;
    left: 393px;
    font-size: 75px;
}
span {
    color: #3a3b3c
}
.circle {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: white;
}

.contactInfo {
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    color: whitesmoke;
    margin-top: 200px;
}

.aboutMe {
    font-family: 'Varela Round', sans-serif;
    color: whitesmoke;
    margin-top: 180px;
}

#aboutMePic {
    border-radius: 50%;
    margin: 90px;
}

.portfolioPage {
    margin-top: 150px;
    font-family: 'Varela Round', sans-serif;
    color: white;
}
.hide {
    display: none;
}

.imgscale:hover {
    transform: scale(1.1);
}


@media (max-width: 1160px) {
    #profilepic {
      width: 450px;
    }
    .profile-name {
        font-size: 40px;
        bottom: 280px;
        left: 276px;
    }
  }
@media (max-width: 768px) {
    ol, ul {
        padding-left: 60px;
    }

    #profilepic {
      width: 300px;
    }
    .profile-name {
        font-size: 40px;
        bottom: 208px;
        left: 201px;
    }
  }
