body {
    background-color: #7395AE;
}

/* Nav */
.nav-box {
    background-color: #5d5c61; 
    box-shadow: 5px 10px;
}


nav a {
    text-decoration: none;
    color: white;
}

.nav-shadow {
  color: white;
}

.header {
    list-style-type: none; /* Removes bullet points */
    display: inline-block; 
    margin-right: 60px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}
.nav-right {
    text-align: right;
    }


/* Content Header */
h2 {
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
}

/* p chacateristics */
p {
    font-size: 20px;
    font-family: 'KoHo', sans-serif;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.center-content-bg {
    background-color: whitesmoke;
    margin-top: 50px;

}

.cont-flex-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.profile-name {
    font-family: 'Bungee Outline', cursive;
    color: black;
    font-size: 60px;
}

.cont-flex-child {
    text-align: center;
    border: 2px solid black;
    width: 90%;
    margin-bottom: 20px;
}

.img-space {
    margin: 4px;
}

/* Media */

@media screen and (max-width: 768px) {
    .header {
        display: block;
        text-align: center;
    } 
    .profile-name {
        text-align: center;
    }
    

    .footer-contact {
        width: 400px;
    }
}
@media screen and (max-width: 1030px) {
    .profile-image {
        width: 650px;
    }
}
