.nav-box {
    background-color: #5d5c61; /* Nav color */
    box-shadow: 5px 10px;
}

body {
    background-color: #7395AE;
}
a {
    text-decoration: none;
    color: white;
}

.white-text {
    color: white;
}

.header {
    list-style-type: none; /* Removes bullet points */
    display: inline-block; 
    margin-right: 60px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.nav-right {
    text-align: right;
    }

.center-content-bg {
    background-color: whitesmoke;
    height: 1000px;
    margin-top: 50px;

}
    